

body {
    text-align: center;
    background-image: url('images/wood_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#topImage {
    width: 90%;
    height: auto;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #464;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
}
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: noe;
    font-size: x-large;n
}
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
}

h1 {
    color: blue;
    font-size: 50px;
    margin: 0;
}

.main {
    background-color: rgb(197, 190, 190);
    margin: 0 10%;
    padding: 100px;
    text-align: center;
    
}

.intro {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 32px;

}

.wrapper {
    background-color: bisque;
    height: 200px;
    overflow: scroll;
}

.column {
    text-align: center;
    font-size: 20px;
    padding: 0;
}

.small {
    display: inline-block;
    width: 32.99%;

}

.medium {
    display: inline-block;
    width: 65%
}
